$color-list: (
  "red": (#FFEBEE, #FFCDD2, #EF9A9A, #E57373, #EF5350, #F44336, #E53935, #D32F2F, #C62828, #B71C1C, #FF8A80, #FF5252, #FF1744, #D50000), 
  "pink": (#FCE4EC, #F8BBD0, #F48FB1, #F06292, #EC407A, #E91E63, #D81B60, #C2185B, #AD1457, #880E4F, #FF80AB, #FF4081, #F50057, #C51162), 
  "purple": (#F3E5F5, #E1BEE7, #CE93D8, #BA68C8, #AB47BC, #9C27B0, #8E24AA, #7B1FA2, #6A1B9A, #4A148C, #EA80FC, #E040FB, #D500F9, #AA00FF)
);


@each $color-theme in map-keys($color-list){
  $values: map-get($color-list, $color-theme);
  @each $color-code in $values{
    $index: index($values, $color-code);
    .bg-#{$color-theme}-#{$index}{
      background-color: $color-code !important;
    }
    .color-#{$color-theme}-#{$index}{
      color: $color-code !important;
    }
  }
};

// $color-list: ('red','pink','purple');
// $red-theme: (#FFEBEE, #FFCDD2, #EF9A9A, #E57373, #EF5350, #F44336, #E53935, #D32F2F, #C62828, #B71C1C, #FF8A80, #FF5252, #FF1744, #D50000);
// $pink-theme: (#FCE4EC, #F8BBD0, #F48FB1, #F06292, #EC407A, #E91E63, #D81B60, #C2185B, #AD1457, #880E4F, #FF80AB, #FF4081, #F50057, #C51162);
// $purple-theme: (#F3E5F5, #E1BEE7, #CE93D8, #BA68C8, #AB47BC, #9C27B0, #8E24AA, #7B1FA2, #6A1B9A, #4A148C, #EA80FC, #E040FB, #D500F9, #AA00FF);

// @each $color in $color-list {
//   @each $color-code in #{$color}-theme{
//     $index: index(#{#{$color}-theme}, $color-code);
//     .bg-#{$color}-#{$index}{
//       background-color: $color-code !important;
//     }
//     .text-#{$color}-#{$index}{
//       color: $color-code !important;
//     }
//   }
// }
